@import '../../../../shared/styles/variables.scss';

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.home_error{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    pointer-events: none;
}

.home_div{
    background-color: $extra-light-blue;
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.home_logo{
    width: 50%;
}

.home_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 8px;
}

.home_input{
    width: 100%;
    display: flex;
    font-family: $cabin-font;
    background-color: $light-blue;
    border: none;
    height: 80px;
    border-radius: 10px;
    text-align: center;  
    font-size: 32px;
}

.home_label{
    color: $dark-red;
    font-family: $lexend-font;
}

.home_button{
    background-color: $dark-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0 48px;
    border-radius: 10px;
    height: 60px;
    border: none;
    text-decoration: none;
}

.home_button__title {
    color: $white;
    font-size: 32px;
    font-family: $cabin-font;
}

.home_input::placeholder{
    color: $dark-blue;
}

.home_button:hover {
    background-color: $dark-red;
    cursor: pointer;
}

.home_isloading{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_customloader{
    width:50px;
    height:50px;
    border-radius:50%;
    border:8px solid;
    border-color:$dark-blue $extra-light-blue;
    animation:s2 1s infinite;
}
@keyframes s2 {to{transform: rotate(1turn)}}