@import '../../../../shared/styles/variables.scss';

.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.options_error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    gap: 16px;
}

.options_informations{
        background-color: $extra-light-blue;
        display: flex;
        justify-content: space-between;
        width: 80%;
        font-family: $lexend-font;
        padding: 8px;
        border-radius: 10px;
}

.options_informations__text{
    margin: 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 8px;
    color: $black;
    font-size: 36px;
}

.options_informations__balance{
    border-radius: 10px;
    background-color: $light-blue;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 8px;
    color: $white;
    font-size: 24px;
    overflow: hidden;
}

.options_cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px
}

.options_input{
    width: 100%;
    font-family: $cabin-font;
    background-color: $light-blue;
    border: none;
    height: 72px;
    border-radius: 10px;
    text-align: center;  
    font-size: 32px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    overflow: hidden;
}

.options_div{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 80%;
    
}

.options_card{
    border: none;
}

.options_label{
    color: $dark-red;
    font-family: $lexend-font;
}

.options_input__icon{
    font-size: 40px;
    color: $dark-blue;
    padding-left: 8px;
}

.options_input__text{
    margin: 0 auto;
}

.options_input::placeholder{
    color: $dark-blue;
}

.options_input__icon:hover{
    color: $dark-red;
}

.options_input__link{
    display: flex;
}

.options_isloading{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.options_customloader{
    width:50px;
    height:50px;
    border-radius:50%;
    border:8px solid;
    border-color:$dark-blue $extra-light-blue;
    animation:s2 1s infinite;
}
@keyframes s2 {to{transform: rotate(1turn)}}