$dark-blue: rgba(0, 115, 230, 1);
$light-blue: rgba(0, 115, 230, 0.3);
$extra-light-blue: rgba(0, 115, 230, 0.25);
$dark-red: rgba(255, 14, 28, 1);
$light-red: rgba(255, 144, 150, 1);
$extra-light-red: rgba(255, 195, 199, 1);
$white: #FFF;
$black: #000;
$background: rgba(0, 115, 230, 0.05);
$cabin-font: 'Cabin', sans-serif;
$lexend-font: 'Lexend', sans-serif;