@import '../../../../shared/styles/variables.scss';

.card {
    width: 320px;
    
}


.card_primary {
    background-color: $extra-light-blue;
    padding: 12px;
    margin-bottom: 16px;
    border-radius: 10px;
    transition: ease-in-out 0.2s;

}

.card_secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: $light-blue;
    border-radius: 10px;
    height: 160px;
    transition: ease-in-out 0.2s;

}

.card_text {
    font-family: $cabin-font;
    font-size: 64px;
    color: $white;
    transition: ease-in-out 0.2s;

}

.card_text__sign{
    font-family: $cabin-font;
    font-size: 40px;
    color: $white;
    transition: ease-in-out 0.2s;

}

.button_counter{
    display: flex;
    flex-direction: row;
    gap: 16px
}

.button{
    width: 70%;
    height: 48px;
    background-color: $extra-light-blue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}

.counter_symbol{
  background-color: transparent;
  border: none;
  font-family: $lexend-font;
  cursor: pointer;
  font-size: 24px;
}

.button_text{
    font-family: $lexend-font;
    font-size: 16px;
    color: $dark-blue
}

.counter {
    width: 30%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 10px;

}

.counter_text{
    color: $black;
    font-size: 24px;
    font-family: $lexend-font;
}

.card:hover .card_primary{
    background-color: $extra-light-red;
}

.card:hover .button{
    background-color: $extra-light-red;
}

.card:hover .card_secondary{
    background-color: $light-red;
}

.card:hover .button_text{
    color: $dark-red;
}