@import '../../../../shared/styles/variables.scss';

.informations{
    background-color: $extra-light-blue;
    display: flex;
    justify-content: space-between;
    width: 80%;
    font-family: $lexend-font;
    padding: 8px;
    border-radius: 10px;
}

.informations_balance{
    border-radius: 10px;
    background-color: $light-blue;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 8px;
    color: $white;
    font-size: 24px;
}

.informations_deposited{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 8px;
    color: $dark-blue;
    font-size: 24px;
}

.informations_final{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 8px;
    color: $dark-blue;
    font-size: 24px;
}